<h1>Search results : {{cinemas.length}}</h1>
<h2>Search list :</h2>
{{#each cinemas}}
    <li>
        <a href="/cinema/{{this._id}}">
            {{this.name}}
        </a>
    </li>
{{/each}}
<form action="/search" method="get" class="form-example">
    <label for="q">Search: </label>
    <input type="text" name="q" id="q" required>
    <input type="submit" value="Search cinema">
</form>